<!DOCTYPE html>
<html>
<head>
	<title>أستوديو " جهاد دي آس"</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
   <div class="Loginbox">
 <img src="avatar.png"  class="Xlogo">	
  <h1>Djihad Ds</h1>
  <p>Enter Your Email : </p>
  <input type="text" name=""  placeholder="Email">
    <p>Enter Your Password : </p>
  <input type="Password" name=""  placeholder="Password">
  <input type="submit" name="">
  <a href="https://djihad-ds.site123.me/?clientZone=1">Forget Your Password ?</a> <br>
  <a href="https://djihad-ds.site123.me">You Don't Have An Account Yet ! Go In My Site</a>
   </div>
</body>
</html>
